.cover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "title photo"
        "info ..."
    ;
    justify-items: center;
    align-items: center;
    /* background: red; */
    margin: 80px 0px 0px 0px;

    .light{
        position: absolute;
        left: 30px;
        top: 130px;
        padding: 200px;
        background: radial-gradient(circle 180px at center, rgba(82, 56, 230, 0.1), rgba(82, 56, 230, 0));
        border-radius: 100%;
    }

    .title{
        margin: 0px 0px 0px 30px;
        /* background: green; */
        display: flex;
        flex-direction: column;
        width: fit-content;
        grid-area: title;

        .row1{
            position: relative;
            right: 40px;
            top: 18px;
            font-size: 40px;

            font-family: "IBM Plex Mono", monospace;
            font-weight: 400;
            font-style: normal;

        }

        .row2{
            /* background: red; */
            /* font-size: 90px; */
            font-size: 90px;

            font-family: "Crimson Text", serif;
            font-weight: 400;
            font-style: normal;
        }

        .row3{
            position: relative;
            left: 30px;
            bottom: 25px;
            font-size: 20px;
            align-self: flex-end;

            font-family: "IBM Plex Mono", monospace;
            font-weight: 400;
            font-style: normal;

        }
    }

    .photo{
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        border: 3px solid white;
        box-shadow: 15px 15px 8px rgba(30, 221, 210, .25);
        grid-area: photo;

        img{
            object-fit: cover;
            transform: scale(3);
            object-position: 40px -80px;
            width: 100%;
            height: 100%;
        }
    }

    .info{
        position: relative;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'IBM Plex Mono';
        font-size: 20px;
        grid-area: info;
        width: 530px;
        height: fit-contents;
        text-align: center;
        cursor: pointer;
        transition: .3s;
        /* background: red; */

        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 60px;
            overflow: hidden;
            /* background: green; */
            transition: .3s;
        }

        .arrow{
            /* font-size: 10px; */
            transform: rotate(90deg);
            transition: .3s;
        }
    }

    #show-details{
        display: none;
    }

    #show-details:checked + .info div{
        height: 150px;
    }

    #show-details:checked + .info .arrow{
        transform: rotate(-90deg);
    }
}