#tecnologias-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(30px, 6vw, 100px);
    padding: 20px 30px 60px 30px;
    background: #121212;
    border: 3px solid #232323;
    max-width: 95vw;

    h2{
        font-size: 10vw;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        list-style: none;

        input{
            display: none;
        }

        li{
            display: grid;
            width: clamp(130px, 10vw, 150px);
            overflow: hidden;
            border-radius: 5px;
            filter: grayscale(100%);
            transition: .3s;

            &:hover{
                transform: scale(1.05);
                filter: grayscale(0%);
            }
            
            input:checked + &{
                width: clamp(220px, 30vw, 500px);
                transform: scale(1.05);
                filter: grayscale(0%);
            }

            label{
                display: grid;
                /* isso vai mecher na posicao dos das logos e nomes */
                grid-template-columns: clamp(130px, 10vw, 150px) 1fr;
                align-items: center;
                align-content: center;
                width: 100%;
                height: clamp(150px, 20vw, 200px);
                background: #343434;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 160%;
                transition: .3s;
                cursor: pointer;
                overflow: hidden;

                .tec-logo{
                    justify-self: center;
                    display: flex;
                    flex-direction: column;
                    text-wrap: nowrap;
                    gap: 20px;
                    align-items: center;
                    /* background: red; */
                    width:  100%;
                    /* background: green; */
                }

                .tec-name{
                    font-size: clamp(6px, 20vw, 23px);
                }

                .tec-info{
                    font-size: clamp(8px, 2vw, 1.1vw);
                    font-family: "IBM Plex Mono", monospace;
                    font-weight: 400;
                    font-style: normal;
                    
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    margin-right: 20px;
                    height: 100%;
                    overflow: hidden;
                    text-align: left;
                }


                img{
                    width: clamp(30px, 15vw, 80px);
                }
            
            }
        }
    }
}

/* @media() */