header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #000214; */
    background: red;
    width: 100vw;
    height: clamp(40px, 4vw, 4vw);
    box-shadow: 0px 10px 60px rgba(0, 114, 178, 0.25);
  
    .logo{
      /* background: red; */
      width: clamp();
      height: 100%;
      margin-left: clamp(10px, 3vw, 3vw);

      img{
        width: 100%;
        height: 100%;
      }
    }
    
    ul{
      background: blue;
      display: flex;
      gap: 30px;
      list-style: none;
      margin-right:clamp(5px, 3vw, 3vw);
      /* background: red; */
      
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
      font-style: normal;
      font-size: clamp(12px, 1.6vw, 1.6vw);
  
      nav{
        display: flex;
        gap: 15px;
      }
  
      li{
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        cursor: pointer;
        opacity: .6;
        transition: .3s;
        /* background: green; */
  
        &:hover{
          opacity: 1;
        }
  
        &::after{
          position: absolute;
          left: 0;
          bottom: 0;
          content: '';
          background: white;
          width: 0%;
          height: 2px;
          border-radius: 10px;
          transition: .3s;
        }
  
        &:hover::after{
          width: 20%;
        }
  
        a{
          text-decoration: none;
          color: white;
        }

          img{
            object-fit: cover;
            background: pink;
            width: 20px;
            height: 20px;
        }
      }
    }
  }

  
  @media(width < 450px){
    header{
      justify-content: center;

      ul{
        display: none;
      }
      .logo{
        display: none;
      }
    }
  }