#contact{
    margin: 100px 0px 0px;
    width: 70vw;
    height: 420px;
    display: flex;
    flex-direction: column;

    h2{
        font-size: clamp(32px, 30vw, 8vw);
    }

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100%;
        align-items: center;
        border-radius: 5px;
        margin: 30px 0px 0px 0px;
        height: clamp(60px, 7vw, 10vw);
        width: 100%;
        opacity: .8;
        cursor: pointer;
        transition: .3s;

        &:hover{
            opacity: 1;
            scale: 1.01
        }
        
        .logos{
            height: clamp(40px, 30vw, 8vw);
            margin: 0px 0px 0px clamp(10px, 20vw, 1vw);
            align-self: center;
        }

        span{
            font-size: clamp(0px ,30vw, 2vw);
            font-family: "IBM Plex Mono", monospace;
            font-weight: 500;
            font-style: normal;
            justify-self: start;
        }

        .actions{
            justify-self: end;
            margin: 0px 35px 0px 0px;
            width: clamp(10px, 30vw, 4vw);
        }
    }

    .gitHub{
        background: #371A60;
    }

    .e-mail{
        background: #80231A;
    }
}