@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#root{
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background: #0C072D;
  color: white;

  &::-webkit-scrollbar{
    background-color: #3757c2;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #6085ff;
    border-radius: 100px;
  }
}

h2{
  text-align: center;
  font-size: 90px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

@media(width < 800px){
  .cover{
    span{
      display: none;
    }
  }
 
  #projects-section{
    display: none;
  }

  /* #contact{
    display: none;
  } */
}